h4 {
    color: black;
    font-style: bold;
    font-family: "Comic Sans MS";
}
body {
    background-color: darkgray;
}

/*Applying style to the image directly*/
img{
     border-radius : 12px;
    box-shadow: 10px    black;
}

.img-transition {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

.img-transition {
    opacity:0.5;
}
